<back-button></back-button>

<div class="main-container">

    <verify-delete-modal *ngIf="appState.deleteModalVisible()" (confirmDelete)="deleteQuote()"></verify-delete-modal>
    <warning-modal *ngIf="appState.warningModalVisible()"></warning-modal>

    <default-input *ngIf="appState.quoteTitleEditable()" [(value)]="quoteData.quoteName" placeholder="Quote for:"
        (onBlur)="makeTitleNonEditable()"></default-input>

    <h1 *ngIf="!appState.quoteTitleEditable()" (click)="makeTitleEditable()">
        {{ quoteData.quoteName || 'unnamed quote' }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="edit-pencil"
            style="fill: var(--jz-light-blue); width: 1em; height: 1em; vertical-align: -.15em; margin-left: 0.05em;">
            <path fill="currentColor"
                d="M20.7,5.2a1.024,1.024,0,0,1,0,1.448L18.074,9.276l-3.35-3.35L17.35,3.3a1.024,1.024,0,0,1,1.448,0Zm-4.166,5.614-3.35-3.35L4.675,15.975,3,21l5.025-1.675Z" />
        </svg>
    </h1>

    <div class="customer-info">
        <default-input [(value)]="quoteData.customerStreetAddress"
            placeholder="Customer Street Address:"></default-input>
        <default-input [(value)]="quoteData.customerCity" placeholder="Customer City, State:"></default-input>
        <default-input [(value)]="quoteData.customerZipCode" placeholder="Customer Zip Code:"></default-input>
        <default-input [(value)]="quoteData.customerPhoneNumber" placeholder="Customer Phone Number:"></default-input>
    </div>

    <div class="quote-details">
        <default-input [(value)]="quoteData.paintBrand"
            placeholder="Paint Brand:"></default-input>
        <default-input [(value)]="quoteData.sheen" placeholder="Sheen:"></default-input>
        <default-input [(value)]="quoteData.colors" placeholder="Colors:"></default-input>
        <default-input [(value)]="quoteData.numberOfCoats" placeholder="Number of Coats:"></default-input>
        <default-input [(value)]="quoteData.expectedDeposit" placeholder="Expected Deposit:"></default-input>
        <default-input [(value)]="quoteData.startDate" placeholder="Start Date:"></default-input>
    </div>


    <div class="rooms-container">
        <room *ngFor="let room of quoteData.rooms" [roomData]="room"></room> <!-- Loop over rooms array -->
    </div>

    <div class="actions-container">
        <div class="addRoomContainer">
            <default-button text="+ ADD ROOM" (click)="addEmptyRoom()"></default-button>
            <default-button text="+ ADD ROOM (10 x 10 x 8)" (click)="addTenByTenRoom()"></default-button>
        </div>
        <div class="save-container">
            <default-button text="SAVE QUOTE" (click)="saveQuote()"></default-button>
        </div>
        <div class="delete-container">
            <default-button text="DELETE QUOTE" (click)="requestDelete()" class="red-button"></default-button>
        </div>
    </div>

</div>