.main-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.addRoomContainer {
    display: flex;
    gap: 10px;
}

.save-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.delete-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.red-button {
    background-color: var(--warning-red) !important;
    color: white;
}

h1{
    color: var(--jz-light-blue);
    cursor: pointer;
    text-transform: uppercase;
}