<div class="main-container">

    <default-input *ngIf="appState.quoteTitleEditable()" [(value)]="quoteData.quoteName"
        placeholder="Quote for:" (onBlur)="makeTitleNonEditable()"></default-input>

        <h1 *ngIf="!appState.quoteTitleEditable()" (click)="makeTitleEditable()">
            {{ quoteData.quoteName || 'unnamed quote' }}
        </h1>

    <div class="rooms-container">
        <room *ngFor="let room of quoteData.rooms" [roomData]="room"></room> <!-- Loop over rooms array -->
    </div>

    <div class="addRoomContainer">
        <default-button text="+ ADD ROOM" (click)="addEmptyRoom()"></default-button>
        <default-button text="+ ADD ROOM (10 x 10 x 8)" (click)="addTenByTenRoom()"></default-button>
    </div>

    <div class="save-container">
        <default-button text="SAVE QUOTE" (click)="saveQuote()"></default-button>
    </div>

    <div class="delete-container">
        <default-button text="DELETE QUOTE" (click)="deleteQuote()" class="red-button"></default-button>
    </div>


</div>