<div class="card">

    <div class="row">
        <default-input [(value)]="roomData.roomName" placeholder="Room Name"></default-input>
    </div>

    <div class="row">
        <h3>Ceiling:</h3>
        <default-input [(value)]="roomData.ceilingLength" placeholder="Length (ft)"
            (valueChange)="onValueChange()"></default-input>
        <h3>X</h3>
        <default-input [(value)]="roomData.ceilingWidth" placeholder="Width (ft)"
            (valueChange)="onValueChange()"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{ceilingSqft}} SQFT for a total of ${{roomData.ceilingPrice}}</h3>
    </div>

    <div class="row">
        <h3>Walls:</h3>
        <default-input [(value)]="roomData.wallLength" placeholder="Length (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>X</h3>
        <default-input [(value)]="roomData.wallWidth" placeholder="Width (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>X</h3>
        <default-input [(value)]="roomData.wallHeight" placeholder="Height (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{wallSqft}} SQFT for a total of ${{roomData.wallPrice}}</h3>
    </div>

    <div class="row">
        <h3>Trim:</h3>
        <default-input [(value)]="roomData.trimLength" placeholder="Length (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>X</h3>
        <default-input [(value)]="roomData.trimWidth" placeholder="Width (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{trimSqft}} SQFT for a total of ${{roomData.trimPrice}}</h3>
    </div>

    <div class="row">
        <h3>Additional items:</h3>
        <default-input [(value)]="roomData.numDoorFaces" placeholder="# of Door Faces"
            (valueChange)="onValueChange()"></default-input>
        <h3>+</h3>
        <default-input [(value)]="roomData.numDoorFrames" placeholder="# of Door Frames"
            (valueChange)="onValueChange()"></default-input>
        <h3>+</h3>
        <default-input [(value)]="roomData.numWindowFrames" placeholder="# of Window Frames"
            (valueChange)="onValueChange()"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{roomData.numAddons}} addons for a total of ${{roomData.addonTotalPrice}}</h3>
    </div>

    <div class="row">
        <h2>Room Price: ${{roomData.totalRoomPrice}}</h2>
    </div>

</div>