<div class="card">
    <div class="row">
        <h3>Ceiling:</h3>
        <default-input placeholder="Length (ft)"></default-input>
        <h3>X</h3>
        <default-input placeholder="Width (ft)"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{totalSqft}} SQFT for a total of ${{calculatedPrice}}</h3>
    </div>

    <div class="row">
        <h3>Wall #1:</h3>
        <default-input placeholder="Length (ft)"></default-input>
        <h3>X</h3>
        <default-input placeholder="Width (ft)"></default-input>
        <h3>=</h3>
    </div>

</div>