.card{

    border: 2px var(--jz-light-blue) solid;
    height: 20vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h3{
    font-style: bold;
}

.row {

    display: flex;
    flex-direction: row;

}

