<div class="card">

    <div class="row">
        <default-input [(value)]="roomData.roomName" placeholder="Room Name"></default-input>
    </div>

    <div class="row">
        <h3>Ceiling:</h3>
        <default-input [(value)]="roomData.ceilingLength" placeholder="Length (ft)"
            (valueChange)="onValueChange()"></default-input>
        <h3>X</h3>
        <default-input [(value)]="roomData.ceilingWidth" placeholder="Width (ft)"
            (valueChange)="onValueChange()"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{ceilingSqft | number:'1.2-2'}} SQFT for a total of ${{roomData.ceilingPrice | number:'1.2-2'}}</h3>
    </div>

    <div class="row">
        <h3>Walls:</h3>
        <default-input [(value)]="roomData.wallLength" placeholder="Length (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>X</h3>
        <default-input [(value)]="roomData.wallWidth" placeholder="Width (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>X</h3>
        <default-input [(value)]="roomData.wallHeight" placeholder="Height (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{wallSqft | number:'1.2-2'}} SQFT for a total of ${{roomData.wallPrice | number:'1.2-2'}}</h3>
    </div>

    <div class="row">
        <h3>Trim:</h3>
        <default-input [(value)]="roomData.trimLength" placeholder="Length (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>X</h3>
        <default-input [(value)]="roomData.trimWidth" placeholder="Width (ft)" (valueChange)="onValueChange()"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{trimSqft | number:'1.2-2'}} SQFT for a total of ${{roomData.trimPrice | number:'1.2-2'}}</h3>
    </div>

    <div class="row">
        <h3>Additional items:</h3>
        <default-input [(value)]="roomData.numDoorFaces" placeholder="# of Door Faces"
            (valueChange)="onValueChange()"></default-input>
        <h3>+</h3>
        <default-input [(value)]="roomData.numDoorFrames" placeholder="# of Door Frames"
            (valueChange)="onValueChange()"></default-input>
        <h3>+</h3>
        <default-input [(value)]="roomData.numWindowFrames" placeholder="# of Window Frames"
            (valueChange)="onValueChange()"></default-input>
        <h3>=</h3>
        <h3 style="margin-left: 15px;">{{roomData.numAddons}} addons for a total of ${{roomData.addonTotalPrice | number:'1.2-2'}}</h3>
    </div>

    <div class="row">
        <h2>{{roomData.roomName}} Price: ${{roomData.totalRoomPrice | number:'1.2-2'}}</h2>
    </div>

</div>