.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quote-card{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.quote-card:hover{
   background-color: var(--jz-light-blue);
   cursor: pointer;
}