.back-button{
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 1000;
}

@media (max-width: 700px) {
    .back-button {
        position: static;
        margin: 8px 0 16px 0;
        width: 100%;
        display: block;
    }
}