.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000; // optional, ensures it appears above other content

    align-items: center;
    justify-content: center;
    display: flex;

    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);

    z-index: 1000;
}

.modal{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}