:root{

    /* JZ Paint Color Palette */
    --jz-light-blue: RGB(69, 135, 196);
    --jz-dark-blue: RGB(34, 46, 70);
    --jz-brown: RGB(125, 106, 94);
    --jz-tan: RGB(232, 192, 143);

    /* Additional Colors */
    --warning-red: RGB(174, 12, 23);

}

